<div class="container mt-4">
    <div class="text-end">
      <button class="btn btn-primary mb-3" (click)="showForm()">New</button>
    </div>
    
  
    <div *ngIf="showingForm">
      <div class="card mb-3">
        <div class="card-body">
          <app-post-form (submit)="addNewPost($event)" (cancel)="showForm()"></app-post-form>
        </div>
      </div>
    </div>
  
  
    <div *ngFor="let post of posts">
      <app-post-item [post]="post" (edit)="editPost(post)" (delete)="deletePost(post.id)"></app-post-item>
    </div>
  </div>
  